*.o
*.d
*.img
*.bin
*.elf
*.out
*.swp
*.swo
*-blob.h
*.so
.git-ignore
*.patch
*.pyc
criu
cscope*
tags
TAGS
Makefile.local
syscall-x86-64.S
crtools/include/syscall.h
crtools/include/syscall-codes.h
images/*.c
images/*.h
images/google/protobuf/*.c
images/google/protobuf/*.h
crtools/include/version.h
crtools/arch/x86/sys-exec-tbl.c
crtools/arch/x86/syscalls.S
crtools/pie/pie.lds.S
crtools/pie/lib.a
crtools/pie/piegen/piegen
crtools/include/config.h
crtools/protobuf-desc-gen.h
lib/c/criu.pc
build
.gitid
usr/
